language: cpp
compiler: clang

addons:
  apt:
    packages:
      - doxygen
      - graphviz
      - valgrind
      - cppcheck

before_install:
  - pip install --user cpp-coveralls
  - pip install --user 'sphinx<1.7.0'
  - pip install --user breathe

before_script:
  - mkdir build
  - cd build
  - cmake ..
  - cd ..

script:
  - cppcheck --error-exitcode=1 --enable=warning,style,performance,portability,unusedFunction --verbose -I lib/include app/ lib/
  - cd build
  - cmake --build .
  - ctest .
  - ctest -T memcheck .
  - cd ..
  - cd doc
  - doxygen
  - make html
  - cd ..

after_success:
  - coveralls --exclude build/CMakeFiles/ --exclude build/gtest/ --gcov "llvm-cov gcov" --gcov-options '\-lp'

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local-dir: doc/_build/html
  on:
    branch: master
